$lr-margin-30: calc(-30px/2);
$lr-margin-50: calc(-50px/2);
$lr-padding-30: calc(30px/2);
$lr-padding-50: calc(50px/2);
$botones:(
    background-color: #696cff,
    border-color: #696cff
);

@each $boton, $color in $botones {
    .btn--#{$boton}
    {
        background-color: $color;
    }
}

.boton-1
{
    background-color: map-get($botones, color);
}

.background-contenedor
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;
    position: relative;
    width: 100%;
}

.background-contenedor-1
{
    @extend .background-contenedor;
    background-image: url(../assets/img/bass-1.png);
}

.background-contenedor-2
{
    @extend .background-contenedor;
    background-image: url(../assets/img/ryota-nagasaka-w_5TUm7Xa00-unsplash2.jpg);
}

.background-contenedor-3
{
    @extend .background-contenedor;
    background-image: url(../assets/img/campaign-creators-qCi_MzVODoU-unsplash.jpg);
}

.background-contenedor-4
{
    @extend .background-contenedor;
    background-image: url(../assets/img/laura-chouette-14u6sJ6KiyI-unsplash.jpg);
}

.background-contenedor-5
{
    @extend .background-contenedor;
    background-image: url(../assets/img/nadine-shaabana-DrPcfuaeYFQ-unsplash.jpg);
}

@mixin alinearCentro {
    justify-content: center;
    align-items: center;
}

.titulo-h2
{
    @include alinearCentro;
}